body{
    margin: 0;
    background-color: rgb(223, 231, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.jogo > div{
    display: flex;
    justify-content: center;
}

div.carta{
    margin: 5px;
    width: 136px;
    height: 300px;
    border-radius: 9px;
    background-image: url("img/reverse_clear.png");
    background-size: cover;
}

div.carta:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.fimDeJogo{
    display: none;
    position: absolute;
    top: 200px;
    border: #D6676E 5px dotted;
    border-radius: 70px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.75);
}

h1{
    margin: 0;
    color: #D6676E;
    font-family: 'Courgette', cursive;
    font-size: 80px;
}

.aparecer{
    display: block;
}